.page__body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  min-height: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey;
  background-color: @white;
  width: 320px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    width: 1440px;
  }
}
